@include block(avatar) {
  display: inline-block;
  border: 1px solid $border-color;
  overflow: hidden;

  @if ($is-rounded) {
    border-radius: $radius;
  }

  @include modifier(circle) {
    border-radius: 100%;
  }

  @include modifier(large) {
    &, img {
      width: 100px;
      height: 100px;
    }
  }

  @include modifier(normal) {
    &, img {
      width: 75px;
      height: 75px;
    }
  }

  @include modifier(small) {
    &, img {
      width: 50px;
      height: 50px;
    }
  }

  @include modifier(mini) {
    &, img {
      width: 35px;
      height: 35px;
    }
  }
}