@include block(form) {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;

  @include modifier(inline) {
    flex-direction: row;
  }

  @include element(errors) {
    display: flex;
    align-items: center;
    width: 100%;
    background-color: $danger;
    color: $white;
    padding: 12px;
    margin-bottom: 16px;

    @if ($is-rounded) {
      border-radius: $radius;
    }
  }

  @include element(error) {
    display: block;
    margin: 3px;
  }
}

@include block(form-item) {
  flex-shrink: 1;
  margin-bottom: 1em;

  &:last-child {
    margin-bottom: 0;
  }
}