@include block(icon) {
  transition: all 120ms ease;

  @include modifier(mini) {
    width: 0.8em;
  }

  @include modifier(small) {
    width: 0.9em;
  }

  @include modifier(normal) {
    width: 1em;
  }

  @include modifier(large) {
    width: 1.2em;
  }

  @include modifier(xlarge) {
    width: 1.5em;
  }

  @include modifier(black) {
    & g { fill: $text-color; }
  }

  @include modifier(primary) {
    & g { fill: $primary; }
  }

  @include modifier(secondary) {
    & g { fill: $secondary; }
  }

  @include modifier(danger) {
    & g { fill: $danger; }
  }

  @include modifier(warning) {
    & g { fill: $warning; }
  }

  @include modifier(success) {
    & g { fill: $success; }
  }

  @include modifier(info) {
    & g { fill: $info; }
  }

  @include modifier(grey) {
    & g { fill: $text-secondary-color; }
  }

  @for $i from 2 to 5 {
    @include modifier('x' + $i) {
      width: $i * 1em;
    }
  }
}

.ui-icon-loading {
  animation: rotating 1200ms linear infinite;
}

@keyframes rotating {
  0% {
    transform: rotateZ(0deg);
  }
  100% {
    transform: rotateZ(360deg);
  }
}
