@include block(message) {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin: 5px auto;
  padding: 12px;
  width: 300px;
  color: $grey800;
  background-color: $white;

  @if ($is-rounded) {
    border-radius: $radius;
  }

  @if ($is-shadowed) {
    box-shadow: $low-shadow;
  }

  @include element(title) {
    font-weight: 500;
    margin-bottom: 5px;
  }

  @include modifier(primary) {
    color: $white;
    background-color: $primary;
  }

  @include modifier(secondary) {
    color: $white;
    background-color: $secondary;
  }

  @include modifier(danger) {
    color: $white;
    background-color: $danger;
  }

  @include modifier(warning) {
    color: $white;
    background-color: $warning;
  }

  @include modifier(success) {
    color: $white;
    background-color: $success;
  }

  @include modifier(info) {
    color: $white;
    background-color: $info;
  }

  @include element(body) {
    display: flex;
    font-size: 0.9em;
  }

  @include element(container) {
    position: fixed;
    top: 5vh;
    left: 50%;
    transform: translateX(-50%);
    z-index: 2001;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;

    @include desktop {
      left: unset;
      transform: unset;
      right: 7px;
    }
  }
}

.ui-message-enter-active {
  transition: all 220ms ease-out;
}

.ui-message-leave-active {
  transition: all 220ms ease-in;
}

.ui-message-enter-from, .ui-message-leave-to {
  opacity: 0;
  transform: translateY(20px);

  @include desktop {
    transform: translateX(30px);
  }
}
