@include block(radio) {
  display: inline-flex;
  color: $text-color;
  cursor: pointer;
  white-space: nowrap;
  outline: none;
  margin-right: 30px;

  &:hover .ui-radio__inner {
    border-color: $primary;
  }

  @include when(bordered) {
    padding: 7px 12px;
    border: 1px solid $border-color;

    &.is-checked {
      border-color: $primary;
    }

    &.is-disabled {
      cursor: not-allowed;
    }

    & + .ui-radio.is-bordered {
      margin-left: 10px;
    }
  }

  &:last-child {
    margin-right: 0;
  }

  &:focus .ui-radio__inner {
    border-color: $primary;
  }

  @include element(input) {
    cursor: pointer;
    outline: none;
    position: relative;

    @include when(checked) {
      .ui-radio__inner {
        border-color: $primary;
        background: $grey50;

        &::after {
          transform: translate(-50%, -50%) scale(1);
        }
      }
    }

    @include when(focus) {
      .ui-radio__inner {
        border-color: $primary;
      }
    }
  }

  @include element(inner) {
    border: 1px solid $border-color;
    border-radius: 100%;
    width: 16px;
    height: 16px;
    position: relative;
    cursor: pointer;
    display: inline-block;
    transition: all 70ms ease-in;

    &::after {
      border-radius: 100%;
      width: 10px;
      height: 10px;
      background-color: $primary;
      content: "";
      position: absolute;
      left: 50%;
      top: 50%;
      transform: translate(-50%, -50%) scale(0);
      transition: transform 90ms ease-in;
    }
  }

  @include element(original) {
    opacity: 0;
    outline: none;
    position: absolute;
    z-index: -1;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    margin: 0;
  }

  @include element(label) {
    padding-left: 5px;
  }
}

@include block(radio-group) {
  display: inline-block;
  vertical-align: middle;
}

@include block(radio-button) {
  display: inline-flex;
  color: $text-color;
  cursor: pointer;
  outline: none;
  padding: 7px 16px;
  transition: all 90ms ease-in;
  border: 1px solid $border-color;
  border-right: none;

  @if ($is-rounded) {
    &:first-child {
      border-radius: $radius 0 0 $radius;
    }
  }

  @include modifier(primary) {
    &:hover, &:focus {
      color: $primary;
    }
  }
  @include modifier(secondary) {
    &:hover, &:focus {
      color: $secondary;
    }
  }
  @include modifier(danger) {
    &:hover, &:focus {
      color: $danger;
    }
  }
  @include modifier(warning) {
    &:hover, &:focus {
      color: $warning;
    }
  }
  @include modifier(success) {
    &:hover, &:focus {
      color: $success;
    }
  }
  @include modifier(info) {
    &:hover, &:focus {
      color: $info;
    }
  }
  @include modifier(grey) {
    &:hover, &:focus {
      color: $grey500;
    }
  }

  &:last-child {
    border-right: 1px solid $border-color;

    @if ($is-rounded) {
      border-radius: 0 $radius $radius 0;
    }
  }

  @include when(checked) {
    @include modifier(primary) {
      color: $white;
      background-color: $primary;
      border-color: $primary;
    }

    @include modifier(secondary) {
      color: $white;
      background-color: $secondary;
      border-color: $secondary;
    }

    @include modifier(danger) {
      color: $white;
      background-color: $danger;
      border-color: $danger;
    }

    @include modifier(warning) {
      color: $white;
      background-color: $warning;
      border-color: $warning;
    }

    @include modifier(success) {
      color: $white;
      background-color: $success;
      border-color: $success;
    }

    @include modifier(info) {
      color: $white;
      background-color: $info;
      border-color: $info;
    }

    @include modifier(grey) {
      color: $white;
      background-color: $grey500;
      border-color: $grey500;
    }
  }

  @include element(original) {
    width: 0;
    height: 0;
    overflow: hidden;
    visibility: hidden;
    cursor: pointer;
  }
}
