::-webkit-scrollbar {
  background-color: $grey200;
  width: 0.4em;
}
 
::-webkit-scrollbar-thumb {
  background-color: $grey500;
  outline: 10px solid $grey600;

  @if ($is-rounded) {
    border-radius: 50px;
  }
}
